# TP 1

## 0bjectifs

* Comprendre les bases de la programmation Python :
* Variables, types de données, listes, ensembles et tuples.
* Expressions conditionnelles et boucles
* Trier
* Dictionnaire
* Fichiers et interaction avec les utilisateurs

## Exercice 1

1\. Commentaires

In [ ]:
# Ceci est un commentaire
print("Bonjour")

2\. Variables

In [ ]:
# une variable
message = "le monde!"
print(message)

In [ ]:
a = 10
b = 20
c = a + b
print(c)

In [ ]:
# nombres réels
pi = 3.14
print(pi)

In [ ]:
# types de donnés
message1 = "Bonjour"
a = 12
pi = 3.14
print(type(message1))
print(type(a))
print(type(pi))

3\. Concaténation de deux chaînes de caractères

In [ ]:
# Concaténation de deux chaînes de caractères
message = "le monde!"
print("Bonjour" + message)

In [ ]:
# Concaténation de deux chaînes de caractères
message1 = "Bonjour "
message2 = "le monde!"
print(message1 + message2)

In [ ]:
# concaténation de deux variables de types de données différents
# opération + sur deux types de données différents

# Supprimer le commentaire ci-dessous et lancer le code
message1 = "Bonjour en Python"
a = 3
#print(message1 + a)

Pourquoi cette erreur ? Dans le code suivant, nous corrigeons cette erreur.

In [ ]:
# solution de concaténation entre deux variables de types de données différents
message1 = "Bonjour en Python "
a = 3
print(message1 + str(a))

4\. Listes

In [ ]:
a = [10, 20, 30, 40, 50]
print(a)

In [ ]:
a = [10, 20, 30, 40, 50]
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

In [ ]:
#Supprimer le commentaire ci-dessous et lancer le code
a = [10, 20, 30, 40, 50]
#print(a[8])

Nous essayons d'accéder à un élément à un index qui n'existe pas

In [ ]:
message1 = "Bonjour en Python "
print(message1[0])
print(message1[1])
print(message1[2])
print(message1[3])
print(message1[4])
print(message1[5])
print(message1[6])
print(message1[7])

Le code ci-dessus affiche les différents caractères de la chaîne (ou liste de caractères).
Nous allons maintenant obtenir la longueur de cette chaîne.

In [ ]:
message1 = "Bonjour en Python "
print(len(message1))

Nous allons maintenant créer une liste d'entiers

In [ ]:
a = [10, 20, 30, 40, 50]
print(len(a))

In [ ]:
a = [10, 20, 30, 40, 50]

# ajouter un nouveau numéro à la fin de la liste
a.append(60)
print(a)

In [ ]:
a = [10, 20, 30, 40, 50]

# modifier un numéro à un index donné
a[0] = 0
print(a)

In [ ]:
#Supprimer le commentaire ci-dessous et lancer le code
a = [10, 20, 30, 40, 50]

#a[6] = 20
print(a)

Pourquoi cette erreur? Nous modifions un élément à un indice inexistant.

In [ ]:
a = [10, 20, 30, 40, 50]

# l'insertion d'un élément à un index particulier modifiera la liste
a.insert(0, 0)
print(a)
print(len(a))

In [ ]:
a = [10, 20, 30, 40, 50]
a.insert(6,60)
print(a)
print(len(a))

In [ ]:
a = [10, 20, 30, 40, 50]

# Nous allons maintenant essayer d'insérer un nombre à un index plus grand que la longueur
# de la liste. Nous veillerons à ce qu'il n'y ait pas d'erreur et le nouveau numéro
# est ajouté à la fin de la liste
a.insert(10,60)
print(a)
print(len(a))

5\. Tuples (listes non-modifiables)

In [ ]:
a = (10, 20, 30, 40, 50)
print(a)

In [ ]:
a = (10, 20, 30, 40, 50)
print(a[0])

In [ ]:
a = (10, 20, 30, 40, 50)


# Nous essayons maintenant de modifier un tuple
# Décommentez le code ci-dessous et lancez le code
# Un tupe est une liste non modifiable

#a[0] = 0
print(a)

6\. Sets

In [ ]:
# Un ensemble(Set) est une collection d'éléments distincts

a = {10, 20, 30, 40, 50, 10, 20, 30, 40, 50}
print(a)

In [ ]:
a = {10, 20, 30, 40, 50, 10, 20, 30, 40, 50}
a.add(10)
print(a)

In [ ]:
a = {10, 20, 30, 40, 50, 10, 20, 30, 40, 50}
a.add(60)
print(a)

In [ ]:
a = {10, 20, 30, 40, 50, 10, 20, 30, 40, 50}
a.remove(40)
print(a)

Nous allons maintenant essayer différents types de données avec les chiffres et afficher le résultat.

In [ ]:
# set
a = {10, 20, 30, 40, 50, 10, 20, 30, 40, 50}
print(a)
print(type(a))
 
# tuple
b = (10, 20, 30, 40, 50, 10, 20, 30, 40, 50)
print(b)
print(type(b))
 
# list
c= [10, 20, 30, 40, 50, 10, 20, 30, 40, 50]
print(c)
print(type(c))

## Exercice 2

1\. Expressions conditionnelles

In [ ]:
a = 12
if( a%2 == 0):
    print(a, " is divisible by 2")
else:
    print(a, " is not divisible by 2")

In [ ]:
lang = "Français"
if (lang =="Français"):
    print("Bonjour le monde!")
else:
    print("Hello World!")

2\. Boucles

Les boucles peuvent également être utilisées pour accéder aux éléments de différents indices.

In [ ]:
# liste
for i in [10, 20, 30, 40, 50, 10, 20, 30, 40, 50]:
    print(i)

In [ ]:
# tuples
for i in (10, 20, 30, 40, 50, 10, 20, 30, 40, 50):
    print(i)

In [ ]:
# set
for i in {10, 20, 30, 40, 50, 10, 20, 30, 40, 50}:
    print(i)

2\. Limites

In [ ]:
for i in range(0,10):
    print(i)

In [ ]:
for i in range(0,10,2):
    print(i)

In [ ]:
# print() par défaut affiche le message suivi d'une nouvelle ligne
# Mais vous pouvez changer son comportement

for i in range(0,10,2):
    print(i, end=' ')

In [ ]:
for i in range(10,0,-2):
    print(i)

In [ ]:
for i in range(10,0):
    print(i)

split(): La fonction peut être utilisée pour séparer une chaîne de caractères en utilisant 
un délimiteur spécifié. Par défaut, le délimiteur est un espace blanc.

In [ ]:
for i in "Bonjour,le,monde!".split():
    print(i)

In [ ]:
for i in "Bonjour,le,monde!".split(","):
    print(i)

Write a program in Python to display the following output

  
 1
 
 12
 
 123
 
 1234
 
 12345
 
 123456
 
 1234567
 
 12345678

## Exercice 3

1\. Tri

In [ ]:
num = [10, 20, 30, 40, 50, 10, 20, 30, 40, 50]
num.sort()
print(num)

2\. Tri (ordre décroissant)

In [ ]:
num = [10, 20, 30, 40, 50, 10, 20, 30, 40, 50]
num.sort(reverse=True)
print(num)

3\. minimum

In [ ]:
num = [10, 20, 30, 40, 50, 10, 20, 30, 40, 50]
print(min(num))

4\. maximum

In [ ]:
num = [10, 20, 30, 40, 50, 10, 20, 30, 40, 50]
print(max(num))

5\. sorted()

Vous pouvez utiliser cette fonction si vous ne souhaitez pas modifier votre liste initiale par un tri.

In [ ]:
num = [70, 20, 30, 10, 50, 60, 20, 80, 70, 50]
tri = sorted(num,reverse=True)
print(num)
print(tri)

In [ ]:
num = [70, 20, 30, 10, 50, 60, 20, 80, 70, 50]

# sélectionner les cinq premiers numéros
tri = sorted(num,reverse=True)[:5]
print(tri)

Modifiez le code donné ci-dessous pour afficher les cinq plus grands numéros uniques.

In [ ]:
print(sorted("Bonjour le monde!".split(), key=str.lower, 
           reverse=True))

## Exercice 4

1\. Dictionnaire

In [ ]:
a = {"contente": 12, "content": 12, "triste": 2}
print(a)
print(type(a))

In [ ]:
a = {"contente": 12, "content": 12, "triste": 2}
for key in a:
    print("la phrase ", key, " apparait ", a[key], " fois")

In [ ]:
a = {"contente": 12, "content": 12, "triste": 2}
for key,value in a.items():
    print("la phrase ", key, " apparait ", value, " fois")

In [ ]:
a = {"contente": 12, "content": 12, "triste": 2}
a["joie"] = 10
print(a)

In [ ]:
a = {"contente": 12, "content": 12, "triste": 2}
del a["triste"]
print(a)

In [ ]:
mots = {"contente": 12, "content": 12, "triste": 2, 
     "joie" : 10}
print(sorted(mots))

In [ ]:
mots = {"contente": 12, "content": 12, "triste": 2, 
     "joie" : 10}
mots_tuple = [(key, value) for key,value in mots.items()]
print(mots_tuple)

2\. itemgetter

In [ ]:
from operator import itemgetter
 
mots = {"contente": 12, "content": 12, "triste": 2, 
     "joie" : 10}
mots_tuple = [(key, value) for key,value in mots.items()]
print(sorted(mots_tuple, key=itemgetter(1)))

3\. Interaction with user

In [ ]:
#nom = input("Quel est votre nom?")
#print(nom)

In [ ]:
#age = input("Quel est votre âge? ")
#print(age)
#print(type(age))

In [ ]:
#age = input("Quel est votre âge? ")
#age = int(age)
#print(age)
#print(type(age))

**Question:** Ecrire un programme en Python qui interagit avec l'utilisateur pour
obtenir les informations suivantes de 5 étudiants :

- Nom de l'étudiant
- Âge
- Grades en 5 modules

## Exercice 5

Lire et écrire dans un fichier

1\. Fichiers

In [ ]:
# écrire dans un fichier
message = "Bonjour le monde"
with open("bonjour.txt", "w") as file:
    file.write(message)
file.close()

In [ ]:
# lire un fichier
with open("bonjour.txt", "r") as file:
    text = file.read()
    print(text)
file.close()

In [ ]:
# écrire dans un fichier
message1 = "Bonjour le monde"
message2 = "Programmation en Python"
with open("bonjour.txt", "w") as file:
    file.write(message1)
    file.write(message2)
file.close()

In [ ]:
# lire un fichier
with open("bonjour.txt", "r") as file:
    text = file.read()
    print(text)
file.close()

In [ ]:
# Rédaction dans un fichier en utilisant le caractère de nouvelle ligne
message1 = "Bonjour le monde\n"
message2 = "Programmation en Python"
with open("bonjour.txt", "w") as file:
    file.write(message1)
    file.write(message2)
file.close()
 
with open("bonjour.txt", "r") as file:
    text = file.read()
    print(text)
file.close()

2\. readline()

Cette fonction peut être utilisée pour lire un fichier ligne par ligne et non le contenu complet en un seul appel comme read()

In [ ]:
message1 = "Bonjour le monde\n"
message2 = "Programmation en Python"
with open("bonjour.txt", "w") as file:
    file.write(message1)
    file.write(message2)
file.close()

In [ ]:
with open("bonjour.txt", "r") as file:
    text = file.readline()
    print(text)
file.close()

In [ ]:
message1 = "Bonjour le monde\n"
message2 = "Programmation en Python\n"
with open("bonjour.txt", "w") as file:
    file.write(message1)
    file.write(message2)
file.close()

In [ ]:
with open("bonjour.txt", "r") as file:
    for line in file:
        print(line)
file.close()

**Question:** Copiez un fichier texte dans votre répertoire. Ecrire un programme
en Python pour obtenir les valeurs suivantes :

- nombre de caractères dans le fichier 
- nombre de lignes dans le fichier
- nombre de mots dans le fichier
- les vingt premiers mots du fichier 
- des mots distincts dans le fichier